.container-cadastro {
    padding: 50px 5%;

    h2 {
        padding-bottom: 20px;
    }
}

.form-cadastro {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 30px 5%;

    p {
        margin-top: 10px;
    }
}

.image-user {
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-cadastro input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: var(    --secondary-white);
}

.form-cadastro button {
    background-color: var(--red);
    border: 0;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    padding: 12px 35px;
    line-height: 24px;
    cursor: pointer;
}

.form-cadastro button:hover {
    background-color: var(--secondary);
}